table {
  margin: 50px auto;
  border-spacing: 0px;
}

th {
  background-color: coral;
  color: white;
  padding: 10px;
  border: 1px solid black;
}

td {
  padding: 10px;
  border-bottom: 1px solid coral;

}
tr:nth-child(even) {
  background-color: lightgray;
}